service mount_euclid /vendor/bin/self-init mount_euclid
    user root
    oneshot
    disabled

service overlay_mount_euclid /vendor/bin/self-init overlay_mount_euclid
    user root
    oneshot
    disabled
    seclabel u:r:rutilsdaemon:s0

service prop-adap-core /vendor/bin/self-init core
    class core
    user root
    oneshot

on post-fs-data
   mkdir /data/vendor/euclid 0771 system system
   mkdir /data/vendor/euclid/product 0771 system system
   mkdir /mnt/vendor/oppo_product 0771 system system
   mkdir /mnt/vendor/oppo_version 0771 system system
   mkdir /data/vendor/euclid/custom 0771 system system
   mkdir /data/vendor/euclid/engineering 0771 system system
   mkdir /data/vendor/euclid/version 0771 system system
   mount ext4 loop@/vendor/euclid/product.img  /data/vendor/euclid/product ro
   mount ext4 /dev/block/mapper/oppo_product  /data/vendor/euclid/product ro
   start overlay_mount_euclid
   start mount_euclid
   start prop-adap-core

on property:ro.vendor.version_variant=*
   mount ext4 loop@/vendor/euclid/version.${ro.vendor.version_variant}.img  /data/vendor/euclid/version ro
